{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>

        .p-3{
            margin-top: 50px;
            font-size: 30px;

        }
        .form-control {
            width: 500px; /* Adjust the width as needed */
            height: 45px;
            font-size: 20px;
        }
.main-content {
            display: flex;
            justify-content: center;
        }
.form_label{
    font-family: "微軟正黑體 Light";
}
.profile{
    margin-top: 50px;
    margin-right: 50px;
}

    </style>
{% endblock %}

{% block content %}
    <div class="container rounded bg-white mt-5 mb-5 main-content">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="img-circle profile" width="150px" src={% static "images/doge.jpg" %}></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <form method="post" novalidate>
                        {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group" class="col-md-12">
                                <label class="form_label"  for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg" style="color: red">{{ field.errors.0 }}</span>
                            </div>
                            {% endfor %}

                <input type="submit" value="保存" class="btn btn-primary">
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}
