{% extends 'layout/basic.html' %}
{% load static %}
{% block content %}
    <title>我的在售商品</title>
    <style type="text/css">
        .thumbnail {
            height: 500px;
        }

        .caption {
            width: 90%;
            margin: 0 auto;
            padding: 0 10%;
        }
        #btnFavorite a{
            color: white;
        }
    </style>
    <div class="container">
        <h1 class="my-4">我的在售</h1>
        <div class="row">
            <!-- 货品卡片 -->
            {% for item in on_sales %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="{% static 'images/' %}{{ item.img_index }}" class="card-img-top" alt="货品图片1"
                             width="200px">
                        <div class="caption">
                            <h5 class="card-title">商品名称: {{ item.gname }}</h5>
                            <p class="card-text">商品描述: {{ item.intro_txt }}</p>
                            <p class="card-text">价格: {{ item.price }}</p>
                            <p class="card-text">出售者: {{ user_info.username }}</p>
                            <p class="card-text">联系方式: {{ user_info.email }}</p>
                            <button id="btnFavorite" class="btn btn-primary" role="button">
                                <a href="/item/edit_details/{{ item.id }}">修改</a></button>
                            <button id="btnFavorite" class="btn btn-primary" role="button">
                                <a href="/item/delete/{{ item.id }}">删除</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
