{% extends 'layout/basic.html' %}
{% load static %}

{% block css %}
    <style>
        .item_img{
            width: 400px;
            height: 400px;
            margin-right: 100px;
        }
        .col-md-5{
            margin-right: 30px;
            margin-top: 40px;
            margin-left: 50px;
            width:600px;

        }
        .myform{
            display: flex;
            margin-left: 200px;
        }
        .itemimg{
            margin-top: 100px;
        }
        textarea {
        resize: none;
    }
        .upload-profile{
            width:100px;
            height: 30px;
            margin-left: 160px;
            margin-top: 20px;
        }
        .upload-form{
            display: flex;
            width:1000px;

        }
        .upload-form-left,.upload-form-right{
            width:400px;
            margin-right: 100px;
        }
        .upload-form-left{
            margin-top: 50px;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">

        <div class="myform col-md-5 border-right">
            <div class="p-3 py-5">

                <form name="form1" method="post" novalidate enctype="multipart/form-data">
                <div class="upload-form">
                        {% csrf_token %}
                <div class="upload-form-left">
                    <img  class="item_img" id="item_img" src="{% static 'images/' %}{{ img_index }}">
                <input  id="fileInput" type="file" name="file"  style="display:none;" accept=".jpg,.png,.jpeg">
　               <input class="upload-profile" type="button" value="更换商品图片" onclick="document.form1.fileInput.click()">
                </div>
<div class="upload-form-right">
                            {% for field in form %}
                                {% if field.name == 'intro_txt' %}
                                    <div class="form-group" class="col-md-12">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                <span class="error-msg" style="color: red">{{ field.errors.0 }}</span>
                            </div>
                                    {% else %}
                                    <div class="form-group" class="col-md-12">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <span class="error-msg" style="color: red">{{ field.errors.0 }}</span>
                            </div>
                                {% endif %}


                            {% endfor %}

                <input type="submit" value="保存" class="btn btn-primary">
</div>
                </div>
                </form>


            </div>
        </div>

    </div>
</div>
{% block js %}
        <script>
    const fileInput = document.getElementById('fileInput');
    const itemPicture = document.getElementById('item_img');

    fileInput.addEventListener('change', function () {
        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.onloadend = function () {
            itemPicture.src = reader.result;
        };

        if (file) {
            reader.readAsDataURL(file);
        }
    });
</script>
{% endblock %}
{% endblock %}
